*.db
*.opendb
*.suo
*.xml
*.vcxproj
*.dll
*.obj
*.jar
**/x64/**/*
**/target/**/*
heapview/.idea/misc.xml
heapview/.idea/workspace.xml
**/.idea/**/*
**/out/**/*
jvmws/jvmws/*.vcxproj
heapview/.idea/misc.xml
heapview/.idea/workspace.xml
*.dmp
*.vcxproj